* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #0c151c;
  --primary-content: #6899be;
  --primary-dark: #000000;
  --primary-light: #1b3040;

  --secondary: #1b0c1c;
  --secondary-content: #b968be;
  --secondary-dark: #000000;
  --secondary-light: #3d1b40;

  --background: #eff0f1;
  --foreground: #fbfbfb;
  --border: #dddfe2;

  --copy: #232729;
  --copy-light: #5e676e;
  --copy-lighter: #848d95;

  --success: #0c1c0c;
  --warning: #1c1c0c;
  --error: #1c0c0c;
  --success-content: #68be68;
  --warning-content: #bebe68;
  --error-content: #be6868;

  --font-color-light: #f5f5f5;

  background-color: #18212c;
  margin: 0;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 2em;
  width: 950px;
}

.main-content__actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  float: left;
}

.main__title {
  color: var(--primary-content);
  font-size: 2rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-align: center;
}

.success {
  background-color: #38c37b;
  color: var(--font-color-light);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}

.error {
  background-color: #c33838;
  color: var(--font-color-light);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}
.filter-container {
  width: 100%;
  padding: 1em;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 1em;
  width: 100%;
  background-color: var(--foreground);
  border-radius: 1px solid var(--green-pea-300);
  border-radius: 5px;
}

.filter__input {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

.filter i {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.person-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  
}

.person-form__section {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 100%;
}

.person-form__label {
  color: var(--font-color-light);
  font-size: 16px;
}

.person-form__input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--foreground);
}

.person-form__button {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--green-pea-300);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.person-form__button--submit {
  background-color: var(--primary);
}

.person-form__button--submit:hover {
  background-color: var(--primary-dark);
}

.phone-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.phone-card {
  width: 400px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.2em;
  background: var(--primary-light);
  background: linear-gradient(
    333deg,
    var(--primary-light) 0%,
    var(--primary-content) 100%
  );
  overflow: hidden;
}

.phone-card__info {
  padding-inline: 1.5em;
  padding-block: 0.5em;
  width: 80%;
}

.phone-card__info h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: #333;
  font: bold;
}

.phone-card__info p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: end;
  color: var(--font-color-light);
}

.phone-card__actions button {
  background: var(--primary);
  color: var(--font-color-light);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  font-size: 1.5rem;
}

.phone-card__actions button:hover {
  background: var(--primary-dark);
}


.section-container {
  padding: 1em;
  width: 100%;
}

.section__title {
  color: var(--primary-content);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5em;
  width: 100%;
}
